<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #354f52;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h2 {
            padding: 10px;
        }

        .container {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
        }

        .container-bernoulli {
            background-color: #f7d794;
        }

        .container-bayes {
            background-color: #f3a683;
        }

        .container-normal {
            background-color: #f19066;
        }

        .container-poisson {
            background-color: #a7e9e3;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #354f52;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #293c3e;
        }

        p {
            margin-top: 10px;
            font-weight: bold;
        }

        .result-decimal {
            color: #009688;
        }

        .result-percent {
            color: #E74C3C;
        }
    </style>